/* Get Cairo Font */
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
/*==================================================
				Variables
==================================================*/
:root
{
	--Text-color: #333333;
}
/*==================================================
				HTML & Body
==================================================*/
*{margin: 0; padding: 0;}
html, body{height: 100%; width: 100%; overflow-x: hidden; background: radial-gradient( #D2D2D2 30%, #FCFCFC 100%);}
html, body, h1, h2, h3, h4, h5, h6, div, p, label{font-family: "Cairo", sans-serif !important; font-weight: 400; color: var(--Text-color);}